<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leprosorium</title>
</head>
<body>
  <h2>Post <%= @post_id %>:</h2>

  <a href="/">@<%= @post.name %></a><br>
  <br>
  <%= @post.content %><br>
  <br>
  Created at: <%= @post.created_at %><br>
  <hr>

  <form action="/post/<%=@post_id%>" method="POST">

  <div class="form-group">
    <input name="com[name]" value="" type="text" class="form-control" placeholder="Enter your name">
  </div>

  <div class="form-group">
    <textarea name="com[content]" value="" class="form-control"rows="3" placeholder="Enter your message"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>

</body> 
</html>


